div{
	margin: auto;
	/*font-size: small;*/
}
ul{
	list-style: none;
}
td{
	height: 10px;
	border: 0px solid;
	
}
p{
	
}
.logo{
	width:990px;
	/*background-color: red;*/
	
}


.tail{
	width:990px;
	height: 80px;
	background-color: lightskyblue;
}

.notice1{
	height: 80px;
	width: 150px;
	float: right;
	/*padding-top: 14px; /*same below:*/
	
	/*background-color: green;*/
	
}

.notice2{
	height: 80px;
	width: 200px;
	/*display: table-cell;*/

	/*background-color: gray;*/
	text-align: left;
	vertical-align: middle;
	
	float: right;
}

.guide{
	
	height: 80px;
	width: 640px;
	padding: 0px;
	/*background-color:cadetblue;*/
	/*vertical-align: middle;*/
	float: right;
}
.body{
	width:990px;
	height:800px;
	/*background-color: yellow;*/
}

.banner{
	width:710px;
	height: 215px;
	/*margin: 0px 0px auto;*/
	background-color: limegreen;
	float: right;
	
}

.right{
	width:280px;
	height:800px;
	/*background-color: pink;*/
	/*margin:0px 710px;*/
	float: right;
}

.login{
	width:280px;
	height: 398px;
	float: right;
}

.top10{
	width: 280px;
	height: 26px;
	/*background-color: gray;*/
	float: right;
	padding-top: 20px;
	
}

.list{
	width:280px;
	height: 250px;
	/*background-color: #87CEFA;*/
	float: right;

	
	
}

.mobilewb{
	width: 280px;
	height:106px ;
	/*background-color: aquamarine;*/
	line-height:10px;
	float: right;
	padding-top: 10px;
}


.content{
	width:710px;
	height:585px;
	/*background-color: lightcoral;
	/*margin: 215px 0px;*/
	float: right;
}

.talk{
	width: 450px;
	height: 585px;
	/*background-color: deepskyblue;*/
	float: right;
}

.weibo{
	width: 390px;
	height: 75px;
	/*background-color: deepskyblue;*/
	margin-left: 15px;
}
.users{
	width: 260px;
	height: 292px;
	float: right;
	/*background-color: palevioletred;*/
}

.interest{
	width: 260px;
	height: 293px;
	float: right;
	/*background-color: brown;*/
}
