body{
	width:900px;
	height: 900px;
	background-color: azure;
	margin: auto;
}

.box{
	width: 900px;
	height: 900px;
	background-color: antiquewhite;
	/*margin: 80px auto;
	padding: 20px;
	border: 5px solid red;*/
}

.a{
	width:288px;
	height: 838px;
	/*background-color: plum;*/
	border: 1px red solid;
	margin:10px;
	padding: 20px 20px;
	float: right;
	background: url(http://www.runoob.com/images/box-model.gif) no-repeat 50% 70%;
} 

p{
	text-align: center;
	/*padding-top: 50px;*/
	/*margin: 20px;*/
}
.b{
		width:488px;
		height: 238px;
		background-color: cadetblue;
		border: 1px hotpink solid;
		margin:10px 10px;
		padding: 20px 20px;
		float: left;
		
}
/*此例利用盒子模型的 ，margin border padding 和width（height）属性 设置了4个div，完全充填了900*900px的区域*/
/*border属性 只有设置线条存在（dotted dashed solid）存在之后才能设置颜色，粗细等属性*/