body{
	width: 950px;
	margin:0px auto;
}


td{
	border:0px solid;
	
	
}

table.login{
	width: 600px;
	height: 500px;
	margin: 0px 150px;
	
}

td.left{
	text-align: right;	
	height: 30px;
	
}

img{ /*设置img标签的垂直对齐方式，这是最基础的方式*/
	
	display: inline-block;
	vertical-align: middle;
}

textarea{
	resize: none; /*固定文本框大小*/
	/*width: 300px;*/
	/*height: 50px;*/
}

div{
	width: 950px;
	height: 100px;
	/*background-color: gray;*/
}

.logo{
	width:300px;
	height: 100px;
	/*background-color: yellowgreen;*/
	margin-left: 0px;

}

.info{
	width: 650px;
	height: 100px;
	float: right;
	/*background-color: deepskyblue;*/

}

p{
	font-size: small;
	text-align: center;
}
